<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index"><img src="/img/logo-editorial.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" id="ul-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Libros
                    </a>
                    <ul class="dropdown-menu" id="categorias">
                        <!--Acá se listan las Categorías desde main.js-->
                    </ul>
                    </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/authors">Autores</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sobre Nosotros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Distribución</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Eventos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contacto
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Envianos un mensaje</a></li>
                        <li><a class="dropdown-item" href="#">Envío de manuscritos</a></li>
                        <li><a class="dropdown-item" href="#">Colaboración con blogs</a></li>  
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="logout" class="nav-link" href="#">Cerrar sesión</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
</header>